img {
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
}

#gallery {
  display: flex;
  align-items: center;
  list-style: none;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.gallery-list-item {
  width: 250px;
  padding: 10px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
